@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
*, *:after, *:before {
  box-sizing: border-box; }

.container, .container-center {
  margin-left: auto;
  margin-right: auto; }

img {
  max-width: 100%;
  height: auto; }

html {
  height: 100%; }

body, html {
  min-height: 100%; }

p {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.17; }

h1 {
  font-size: 40px;
  color: #FAFA61; }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 90px; } }

h2 {
  font-size: 30px; }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 45px; } }

h3 {
  font-size: 30px; }
  @media screen and (min-width: 640px) {
    h3 {
      font-size: 40px; } }

h4 {
  font-size: 12px; }
  @media screen and (min-width: 640px) {
    h4 {
      font-size: 20px; } }

h6 {
  font-size: 22px;
  font-weight: 900; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

/* Text align */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/* Absolute centering */
.relative {
  position: relative;
  z-index: 1; }

/* Circle element */
.circle {
  border-radius: 50%; }

/* Flex grid */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px; }

.row + .row {
  margin-top: 30px; }

.row > [class*='col-'] {
  padding-left: 30px; }

.row--collapse {
  margin-left: 0; }

.row--collapse + .row--collapse {
  margin-top: 0; }

.row--collapse > [class*="col-"] {
  padding-left: 0; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.6666%; }

.col-10 {
  width: 83.3333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.6666%; }

.col-7 {
  width: 58.33%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66%; }

.col-4 {
  width: 33.333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.666%; }

.col-1 {
  width: 8.3333%; }

/* Phone landscape and bigger */
.col-small-12 {
  width: 100%; }

.col-small-11 {
  width: 91.6666%; }

.col-small-10 {
  width: 83.3333%; }

.col-small-9 {
  width: 75%; }

.col-small-8 {
  width: 66.6666%; }

.col-small-7 {
  width: 58.33%; }

.col-small-6 {
  width: 50%; }

.col-small-5 {
  width: 41.66%; }

.col-small-4 {
  width: 33.333%; }

.col-small-3 {
  width: 25%; }

.col-small-2 {
  width: 16.666%; }

.col-small-1 {
  width: 8.3333%; }

/* Tablet and bigger */
@media (min-width: 640px) {
  .col-medium-12 {
    width: 100%; }
  .col-medium-11 {
    width: 91.6666%; }
  .col-medium-10 {
    width: 83.3333%; }
  .col-medium-9 {
    width: 75%; }
  .col-medium-8 {
    width: 66.6666%; }
  .col-medium-7 {
    width: 58.33%; }
  .col-medium-6 {
    width: 50%; }
  .col-medium-5 {
    width: 41.66%; }
  .col-medium-4 {
    width: 33.333%; }
  .col-medium-3 {
    width: 25%; }
  .col-medium-2 {
    width: 16.666%; }
  .col-medium-1 {
    width: 8.3333%; } }

/* Desktop and bigger */
@media (min-width: 1024px) {
  .col-large-12 {
    width: 100%; }
  .col-large-11 {
    width: 91.6666%; }
  .col-large-10 {
    width: 83.3333%; }
  .col-large-9 {
    width: 75%; }
  .col-large-8 {
    width: 66.6666%; }
  .col-large-7 {
    width: 58.33%; }
  .col-large-6 {
    width: 50%; }
  .col-large-5 {
    width: 41.66%; }
  .col-large-4 {
    width: 33.333%; }
  .col-large-3 {
    width: 25%; }
  .col-large-2 {
    width: 16.666%; }
  .col-large-1 {
    width: 8.3333%; } }

@media (min-width: 1200px) {
  .col-xlarge-12 {
    width: 100%; }
  .col-xlarge-11 {
    width: 91.6666%; }
  .col-xlarge-10 {
    width: 83.3333%; }
  .col-xlarge-9 {
    width: 75%; }
  .col-xlarge-8 {
    width: 66.6666%; }
  .col-xlarge-7 {
    width: 58.33%; }
  .col-xlarge-6 {
    width: 50%; }
  .col-xlarge-5 {
    width: 41.66%; }
  .col-xlarge-4 {
    width: 33.333%; }
  .col-xlarge-3 {
    width: 25%; }
  .col-xlarge-2 {
    width: 16.666%; }
  .col-xlarge-1 {
    width: 8.3333%; } }

.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  z-index: 99;
  padding-right: 20px;
  border-bottom: 2px solid #FAFA61;
  background: #0B0B0B;
  transition: all linear 0.4s; }
  @media screen and (min-width: 640px) {
    .header {
      height: 133px; } }

.menu-toggle {
  display: block; }
  @media screen and (min-width: 1152px) {
    .menu-toggle {
      display: none; } }

.header__bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative; }
  @media screen and (min-width: 1152px) {
    .header__bar {
      justify-content: space-between; } }

.main-nav {
  display: none; }
  @media screen and (min-width: 1152px) {
    .main-nav {
      display: block; } }

.main-nav-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all linear 0.4s;
  background-color: #0B0B0B;
  transform: translateY(calc(-100% - 10px));
  z-index: 3; }
  @media screen and (min-width: 1152px) {
    .main-nav-mobile {
      display: none; } }

.header__menu-mobile a {
  font-size: 30px;
  display: inline-block;
  text-decoration: none;
  color: #F5F5F5;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  margin: 0;
  transition: all linear 0.4s; }

.header__menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto; }
  .header__menu-mobile li {
    position: relative; }
  .header__menu-mobile li::after {
    content: "";
    position: absolute;
    left: calc(50% - 78px);
    bottom: -25px;
    height: 2px;
    width: 156px;
    background-color: #e5e5e5; }
  .header__menu-mobile li a:hover {
    color: #FAFA61; }

.header__menu-mobile li + li {
  margin-top: 50px; }

.main-nav-mobile.active {
  transform: translateY(0); }

.header__logo {
  display: block;
  height: 100%;
  margin-right: 20px;
  z-index: 6; }
  .header__logo img {
    height: 100%; }
  @media screen and (min-width: 1152px) {
    .header__logo {
      margin-right: 0; } }

.header__menu {
  display: flex; }
  @media screen and (min-width: 640px) {
    .header__menu li + li {
      margin-left: 30px; } }
  @media screen and (min-width: 1300px) {
    .header__menu li + li {
      margin-left: 80px; } }
  .header__menu li a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #e5e5e5;
    padding: 5px 10px; }
    .header__menu li a:hover {
      color: #FAFA61; }

.header-contact {
  display: flex;
  flex-direction: column;
  z-index: 5; }
  .header-contact a + a {
    margin-top: 7px; }
  .header-contact a {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #FAFA61; }
    .header-contact a:hover {
      color: #f8f817; }
    @media screen and (min-width: 400px) {
      .header-contact a {
        font-size: 22px; } }

.decrease-header {
  height: 68px; }

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 5;
  padding-right: 20px; }
  @media screen and (min-width: 1152px) {
    .menu-toggle {
      display: none; } }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hamburger {
  margin: 0 auto;
  width: 40px;
  height: 30px;
  position: relative; }

.hamburger .bar {
  padding: 0;
  width: 40px;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: all 0.4s ease-in-out;
  position: absolute; }

.bar1 {
  top: 0; }

.bar2,
.bar3 {
  top: 15px; }

.bar3 {
  right: 0; }

.bar4 {
  bottom: 0; }

/* HAMBURGER 4 */
.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
  top: 15px; }

.hamburger4 .bar5 {
  bottom: 0; }

.hamburger4 .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s; }

.hamburger4 .bar2 {
  width: 1px;
  transform: rotate(90deg);
  left: 15px; }

.hamburger4 .bar3 {
  width: 1px;
  left: 15px; }

.checkbox4:checked + label > .hamburger4 > .bar1 {
  top: 15px;
  background-color: transparent; }

.checkbox4:checked + label > .hamburger4 > .bar2 {
  left: 0;
  width: 40px;
  transform: rotate(45deg); }

.checkbox4:checked + label > .hamburger4 > .bar3 {
  left: 0;
  width: 40px;
  transform: rotate(-45deg); }

.checkbox4:checked + label > .hamburger4 > .bar4 {
  background-color: transparent; }

.checkbox4:checked + label > .hamburger4 > .bar5 {
  bottom: 15px;
  background-color: transparent; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.hero__title {
  margin-bottom: 22px; }
  @media screen and (min-width: 640px) {
    .hero__title {
      margin-bottom: 20px; } }

.hero__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 42px;
  color: #F5F5F5; }
  @media screen and (min-width: 640px) {
    .hero__subtitle {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 43px; } }

.hero__about-us-link {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  background: transparent;
  color: #F5F5F5;
  transition: all linear 0.3s; }
  .hero__about-us-link:hover {
    background: #FAFA61;
    color: #121212;
    border-color: #FAFA61; }
  @media screen and (min-width: 640px) {
    .hero__about-us-link {
      font-size: 30px;
      line-height: 35px;
      padding: 18px 80px; } }

.prices-wrapper {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .prices-wrapper {
      flex-direction: row; } }

.price-title,
.advantages-title {
  text-align: center;
  padding: 8px 0;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000; }

.prices-right {
  width: 100%;
  background-color: #CECECE;
  padding-top: 53px;
  padding-bottom: 70px;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .prices-right {
      width: 56%;
      padding-top: 51px;
      padding-bottom: 80px; } }

.prices-left {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .prices-left {
      width: 44%; } }

.prices-img {
  display: none; }
  @media screen and (min-width: 768px) {
    .prices-img {
      display: block; } }

.prices-img-mobile {
  display: block; }
  @media screen and (min-width: 768px) {
    .prices-img-mobile {
      display: none; } }

.prices-left img {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.prices-lists {
  padding-left: 52px;
  padding-right: 20px;
  max-width: 613px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .prices-lists {
      padding-left: 100px; } }

.prices-list-first,
.prices-list-second {
  width: 100%; }
  .prices-list-first li + li,
  .prices-list-second li + li {
    margin-top: 54px; }
  .prices-list-first li,
  .prices-list-second li {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .prices-list-first li::before,
    .prices-list-second li::before {
      content: "";
      position: absolute;
      left: -30px;
      top: calc(50% - 7px);
      width: 15px;
      height: 15px;
      background-color: #FAFA61; }

.prices-list-first li:not(:last-child)::after,
.prices-list-second li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 100%;
  height: 1px;
  background-color: #000; }

.prices-list-first + .prices-list-second {
  margin-top: 106px; }

.prices-list-first {
  position: relative; }
  .prices-list-first::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 3px;
    background-color: #000; }

.metal-name,
.metal-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px; }
  @media screen and (min-width: 768px) {
    .metal-name,
    .metal-price {
      font-size: 22px;
      line-height: 26px; } }

.metal-price {
  font-weight: 900; }

.phones {
  background-color: #FAFA61; }

.phones-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 39px; }
  @media screen and (min-width: 768px) {
    .phones-list {
      height: 54px; } }
  .phones-list li {
    font-weight: 900;
    font-size: 12px; }
    @media screen and (min-width: 768px) {
      .phones-list li {
        font-size: 20px; } }
  .phones-list .third, .phones-list .fourth {
    display: none; }
  @media screen and (min-width: 548px) {
    .phones-list .third {
      display: block; } }
  @media screen and (min-width: 1024px) {
    .phones-list .fourth {
      display: block; } }

.advantages-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 0 90px; }
  @media screen and (min-width: 768px) {
    .advantages-wrapper {
      padding: 45px 0 41px; } }

.slick-slider,
.slick-slide {
  outline: none; }

.advantages-column {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .advantages-column:focus {
    outline: none; }
  .advantages-column__box {
    max-width: 250px;
    outline: none; }
  .advantages-column img {
    margin-bottom: 32px;
    box-shadow: 13px 13px #000; }
    @media screen and (min-width: 768px) {
      .advantages-column img {
        margin-bottom: 54px; } }
  .advantages-column h6 {
    margin-bottom: 15px;
    text-align: center; }
  .advantages-column p {
    text-align: center; }

.slick-initialized .slick-slide {
  display: flex; }

.advantages-btn {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: #FAFA61;
  cursor: pointer; }
  .advantages-btn svg path {
    fill: #121212; }
  .advantages-btn:focus {
    outline: none; }
  .advantages-btn--prev {
    left: 100px; }
  .advantages-btn--next {
    right: 100px; }
  @media screen and (min-width: 450px) {
    .advantages-btn {
      bottom: calc(50% - 24px); }
      .advantages-btn--prev {
        left: 30px; }
      .advantages-btn--next {
        right: 30px; } }
  @media screen and (min-width: 768px) {
    .advantages-btn {
      display: none; } }

.about-us-wrapper {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .about-us-wrapper {
      flex-direction: row; } }

.about-us-right {
  width: 100%;
  background-color: #CECECE;
  padding-top: 49px;
  padding-bottom: 53px;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .about-us-right {
      width: 56%;
      padding-top: 80px;
      padding-bottom: 80px; } }

.about-us-left {
  display: none; }
  @media screen and (min-width: 768px) {
    .about-us-left {
      width: 44%;
      display: block; } }

.about-us-left img {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.about-us-lists {
  padding-left: 52px;
  padding-right: 20px;
  max-width: 613px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .about-us-lists {
      padding-left: 100px; } }

.about-us-list-first {
  width: 100%; }
  .about-us-list-first li + li {
    margin-top: 35px; }
  .about-us-list-first li {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .about-us-list-first li::before {
      content: "";
      position: absolute;
      left: -30px;
      top: calc(50% - 7px);
      width: 15px;
      height: 15px;
      background-color: #FAFA61; }
    .about-us-list-first li span {
      font-weight: 900; }

.call-us-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .call-us-wrapper {
      flex-direction: row; } }

.call-us-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px; }
  .call-us-box h3 {
    margin-bottom: 21px; }
    @media screen and (min-width: 768px) {
      .call-us-box h3 {
        margin-bottom: 37px; } }
  .call-us-box p {
    margin-bottom: 38px;
    text-align: center; }
  @media screen and (min-width: 768px) {
    .call-us-box {
      align-items: flex-start;
      margin-left: 68px;
      margin-top: 0; }
      .call-us-box p {
        text-align: left; } }

.call-us-box__phone {
  display: flex;
  padding: 17px 40px 17px 22px;
  border: 2px solid #000000;
  align-items: center; }
  .call-us-box__phone .two-phones {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start; }
    .call-us-box__phone .two-phones span {
      font-size: 14px;
      display: inline-block; }
    @media screen and (min-width: 400px) {
      .call-us-box__phone .two-phones span {
        font-size: 18px; } }
    @media screen and (min-width: 768px) {
      .call-us-box__phone .two-phones {
        flex-direction: row;
        align-items: center; } }
    @media screen and (min-width: 1024px) {
      .call-us-box__phone .two-phones {
        margin-left: 58px; }
        .call-us-box__phone .two-phones span {
          font-size: 22px; } }

.two-phones__phone + .two-phones__phone {
  margin-left: 0; }
  @media screen and (min-width: 768px) {
    .two-phones__phone + .two-phones__phone {
      margin-left: 20px; } }

.demontage-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 0 90px; }
  @media screen and (min-width: 768px) {
    .demontage-wrapper {
      padding: 45px 0 41px; } }

.slick-slider,
.slick-slide {
  outline: none; }

.demontage-column {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .demontage-column:focus {
    outline: none; }
  .demontage-column__box {
    max-width: 250px;
    outline: none; }
  .demontage-column img {
    margin-bottom: 32px;
    box-shadow: 13px 13px #000; }
    @media screen and (min-width: 768px) {
      .demontage-column img {
        margin-bottom: 54px; } }
  .demontage-column h6 {
    margin-bottom: 15px;
    text-align: center; }
  .demontage-column p {
    text-align: center; }

.demontage-btn {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: #FAFA61;
  cursor: pointer; }
  .demontage-btn svg path {
    fill: #121212; }
  .demontage-btn:focus {
    outline: none; }
  .demontage-btn--prev {
    left: 100px; }
  .demontage-btn--next {
    right: 100px; }
  @media screen and (min-width: 450px) {
    .demontage-btn {
      bottom: calc(50% - 24px); }
      .demontage-btn--prev {
        left: 30px; }
      .demontage-btn--next {
        right: 30px; } }
  @media screen and (min-width: 768px) {
    .demontage-btn {
      display: none; } }

.contacts-wrapper {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .contacts-wrapper {
      flex-direction: row; } }

.contacts-left {
  width: 100%;
  display: flex; }
  .contacts-left__left {
    display: none; }
    @media screen and (min-width: 768px) {
      .contacts-left__left {
        width: 40%;
        display: block; }
        .contacts-left__left img {
          object-fit: cover;
          width: 100%;
          height: 100%; } }
  .contacts-left__right {
    width: 100%;
    background-color: #CECECE;
    padding-top: 47px;
    padding-bottom: 46px; }
    @media screen and (min-width: 768px) {
      .contacts-left__right {
        width: 60%;
        padding-top: 63px;
        padding-bottom: 135px; } }
  @media screen and (min-width: 768px) {
    .contacts-left {
      width: 44%; } }

.contacts-bg-mobile img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

@media screen and (min-width: 768px) {
  .contacts-bg-mobile {
    display: none; } }

.contacts-list {
  padding-left: 52px;
  padding-right: 20px; }
  .contacts-list li + li {
    margin-top: 56px; }
    @media screen and (min-width: 768px) {
      .contacts-list li + li {
        margin-top: 85px; } }
  .contacts-list li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .contacts-list li:first-of-type::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 100%;
    height: 1px;
    background-color: #000; }
    @media screen and (min-width: 768px) {
      .contacts-list li:first-of-type::after {
        bottom: -41px; } }
  .contacts-list li::before {
    content: "";
    position: absolute;
    left: -30px;
    top: calc(50% - 7px);
    width: 15px;
    height: 15px;
    background-color: #FAFA61; }

.contacts-list__adress {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 28px; }

.contacts-list__time {
  font-size: 15px;
  color: #676767;
  margin-bottom: 4px; }

.contacts-list__place {
  font-size: 22px;
  font-weight: 500; }

.contacts-list__phones {
  display: flex;
  flex-direction: column; }

.contacts-right {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .contacts-right {
      width: 56%; } }
  @media screen and (max-width: 768px) {
    .contacts-right {
      height: 358px; } }

.map {
  width: 100%;
  height: 100%; }

html {
  height: 100%;
  scroll-behavior: smooth; }

body,
html {
  min-height: 100%; }

.stop-scroll {
  height: 100%;
  overflow: hidden; }

body {
  font: 400 18px/1.17 "Roboto", sans-serif;
  color: #121212;
  background: #F5F5F5;
  margin: 0;
  padding: 0;
  position: relative; }

/* Layout */
.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1240px;
  position: relative; }

.section--hero {
  padding: 367px 0 110px;
  background: #000 url("../img/bg-hero.jpg") 50% no-repeat;
  background-size: cover;
  border-bottom: 13px solid #FAFA61;
  margin-bottom: 62px; }
  @media screen and (min-width: 768px) {
    .section--hero {
      padding: 312px 0 207px;
      margin-bottom: 92px; } }

.section--prices {
  margin-bottom: 62px; }
  @media screen and (min-width: 768px) {
    .section--prices {
      margin-bottom: 92px; } }

.section--advantages {
  margin-bottom: 62px; }
  @media screen and (min-width: 768px) {
    .section--advantages {
      margin-bottom: 92px; } }

.section--call-us {
  padding: 50px 0 114px; }
  @media screen and (min-width: 768px) {
    .section--call-us {
      padding: 149px 0 182px; } }

.section--demontage {
  margin-bottom: 62px; }
  @media screen and (min-width: 768px) {
    .section--demontage {
      margin-bottom: 92px; } }

/*# sourceMappingURL=style.css.map */
